.stats {
  background-color: #101021;
  padding: 60px 20px;
  text-align: center;
  color: white;
}

.stats__container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.stat h2 {
  font-size: 48px;
  color: #00b4ff;
  margin-bottom: 10px;
}

.stat p {
  font-size: 16px;
  color: #ccc;
}
